* {
	letter-spacing: 0.2px;
	line-height: 1.7;
	word-break: keep-all;
	margin: 0;
	padding: 0;
}

body {
	background-color: darkslategray;
	margin-top: 50px;
}

h1 {
	text-align: center;
	margin: 10px;
	background: linear-gradient(180deg, cadetblue 30%, powderblue);
	border-radius: 20px;
	border: 4px solid black;
}

nav {
	background-color: powderblue;
	margin: 7px;
	border-radius: 20px;
	position: fixed;
	width: 500px;
	top: 0px;
	border: inset 4px black;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	list-style: none;
}

a {
	color: darkslategray;
	text-decoration-line: none;
	font-weight: bold;
}

article {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

section {
	background-color: cadetblue;
	border-radius: 20px;
	margin: 5px;
	padding: 5PX;
	text-align: center;
	box-shadow: 4px 4px 10px 3px black;
	border: 4px solid black;
}

h2 {
	margin: 5px;
}

img {
	width: 500px;
	height: 250px;
	border: 4px double darkslategray;
	border-radius: 20px;
}

P {
	border: 4px solid black;
	width: 500px;
	border-radius: 20px;
	margin: 5px;
	padding: 5PX;
}

.dmd {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.dld {
	padding-top: 30px;
	padding-bottom: 30px;
	border: 4px double black;
	font-size: 20px;
}

@media screen and (max-width: 900px) {

	body {
		background-color: darkslategray;
		margin-top:85px;
	}


	h1 {
		text-align: center;
		margin: 10px;
		background: linear-gradient(180deg, cadetblue 30%, powderblue);
		border-radius: 20px;
		border: 4px solid black;
		width: 90vw;
	}

	img{
		width: 80vw;
		height: 40vw;
	}

	P {
		border: 4px solid black;
		width: 80vw;
		border-radius: 20px;
		margin: 5px;
		padding: 5PX;
	}

	nav {
		background-color: powderblue;
		margin: 7px;
		border-radius: 20px;
		position: fixed;
		width: 80vw;
		top: 0px;
		border: inset 4px black;
	}
}